<ul class="list-group w-100" *ngFor="let todo of todos">
    <li class="list-group-item d-flex justify-content-between">

        <span>
            <input type="checkbox"
            (change)="changeTodoStatus(todo)"
            [checked]="todo.isComplete">
        </span>
        <span [ngClass]="{ completedTodo : todo.isComplete }">
          {{todo.title | uppercase}}
        </span>
        <span>
            {{todo.date | date:'dd/mm/yy'}}
        </span>
        <span (click)="deleteTodo(todo)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
        </span>




    </li>
</ul>